@font-face {
  font-family: HFNSS;
  src: url("HFNSS.ttf");
}
@font-face {
  font-family: HFLLG;
  src: url("HFLLG.ttf");
}
::-webkit-input-placeholder {
  color: #b0a69a;
}
body {
  background: #030907;
  padding: 0;
  margin: 0;
}
.header {
  font-family: HFNSS;
  color: #a0968a;
  font-size: 4em;
  margin: 0;
}
.header.banner {
  color: #807872;
}
.point {
  font-family: HFNSS;
  color: #b0a69a;
  font-size: 2em;
  margin: 0;
  font-smooth: never;
  webkit-font-smoothing: none;
  -webkit-font-smoothing: none;
}
.point.logic {
  font-family: HFLLG;
}
.point.link {
  color: #b39f4b;
  cursor: pointer;
  text-decoration: none;
}
.point.link:hover {
  color: #e3d34b;
}
.point.ignorable {
  color: #807872;
}
.point.veryIgnorable {
  color: #54574d;
}
.point.date {
  color: #a0968a;
}
.point.name {
  color: #6a7886;
}
.point.archive-item {
  color: #808f60;
  cursor: pointer;
}
.point.archive-item:hover {
  color: #8bcf4b;
}
.point-section {
  font-family: HFNSS;
  color: #b0a69a;
  font-size: 2em;
  margin: 0;
  width: 80%;
  height: 10em;
  background: none;
  outline: none;
  outline: none;
}
.point-section.logic {
  font-family: HFLLG;
}
.container {
  padding: 0;
  box-sizing: border-box;
}
.row {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}
.row.big {
  min-height: 25px;
}
.paper {
  padding-left: 2em;
  padding-top: 2em;
  width: 968px;
  float: left;
}
.archive {
  width: 420px;
  float: right;
}
.column {
  float: left;
  position: relative;
  width: 250px;
}
.column.big {
  width: 440px;
}
.field {
  background-color: #030907;
  border-style: solid;
  border-width: 2px;
  border-color: #b0a69a;
  color: #b0a69a;
  font-family: HFNSS;
  font-smooth: never;
  webkit-font-smoothing: none;
  -webkit-font-smoothing: none;
  font-size: 2em;
  outline: none;
  width: 400px;
  margin-top: 2px;
}
.field.error {
  border-color: #f20723;
  color: #f20723;
}
.mount {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.button {
  background-color: #182406;
  border-style: solid;
  border-width: 2px;
  border-color: #807872;
  font-family: HFNSS;
  color: #807872;
  font-size: 2em;
  outline: none;
  width: 100%;
  height: 1em;
  margin: 0;
}
.button:hover {
  background-color: #182406;
  color: #b0a69a;
}
